body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-weight: bolder;
}

nav{
  background-color: #343a40;
  height: 70px;
  position: fixed;
  width: 100%;
}

.titulo{
  display: inline-block;
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 30px;
}

.menu{
  position: absolute;
  top: 5px;
  right: 20px;
}

.menu a{
  margin-right: 10px;
}

h4{
  display: inline-block;
  color: #FFF;
  margin-right: 5px;
}

.menu a{
  color: #FFF;
}


.contenido{
  padding-top: 100px;
  background-color:  #1abc9c;
  height: 570px;
  text-align: center;
  width: 100%;
}


.imagen-central{
  width: 225px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 17px;
}


.portfolio{
  padding-top: 80px;
  height: 850px;
  text-align: center;
  background-color: #FFF;
  color: #343a40;
  line-height: 20px;
}

h3{
  font-size: 40px;
}

.imagen{
  display: inline-block;
  margin: 5px;
}

.imagen img{ 
  width: 375px;
  border-radius: 10px;
  margin: 20px;
}

.about{
  background-color: #1abc9c;
  text-align: center;
  height: 400px;
  padding: 50px;
}

hr{
  width: 7%;
}

.parrafo{
  display: inline-block;
  width: 350px;
  text-align: left;
  height: 200px;
  vertical-align: top;
  padding: 10px 15px;
  color: #FFF;
  margin-top: 15px;
  line-height: 30px;
}

#contacto{
  height: 650px;
  text-align: center;
  line-height: 5px;
  padding-top: 50px;
}

.contactme{
  color: #343a40;
  font-weight: bold;
}

input:not([type=submit]){ 
  width: 500px;
  height: 30px;
  font-size: 20px;
  border:none;
  border-bottom: 1px solid lightgray;
  font-family: 'Montserrat', sans-serif;
}

.opcion{
  padding-top: 10px;
  margin-bottom: 30px;
}

textarea{
  width: 500px;
  border: none;
  border-bottom: 1px solid lightgray;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

input[type=submit] {
  border: none;
  background:#1abc9c; 
  width: 100px;
  height: 65px;
  position: relative;
  top: 30px;
  right: 200px;
  font-size: 20px;
  color: #FFF;
  border-radius: 10px;
}

input[type=submit]:hover {
  background: #1f9c83;
}


/*----- MEDIA QUERY -----*/

@media (max-width: 600px){
  .menu{
    display: none;
  }
  
  .contenido{
    width: 100%;
  }

  .imagen img{ 
    width: 130px;
    border-radius: 10px;
    margin: 5px;
  }

  .portfolio{
    height: 400px;
  }


  .parrafo{
    display: inline-block;
    width: 130px;
  }

  .about{
    height: 700px;
  }

  input:not([type=submit]){ 
    width: 350px;
  }

  textarea{
    width: 350px;
  }

  input[type=submit] {
    position: relative;
    right: 120px;
  }
}